<div id="container-comments">
  <%= form_for [@link, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    
    <br>
    <br>
  <!-- using the Ratyrate Helper in Views -->
    <div>
      <% if current_user %>
        Cleanliness: <%= rating_for @link, "cleanliness", stars: 5, disable_after_rate: false, cancel: false, space: true %>
        <br>
        Noise Level: <%= rating_for @link, "noise_level", disable_after_rate: false, cancel: false, space: true %>
        <br>
        Convenience: <%= rating_for @link, "convenience", disable_after_rate: false, cancel: false, space: true %>
      <% end %>
    </div>
    <br><br>
    <!-- end of ratyrate helper view -->
    <div>
      <%= f.label :comment %><br>
      <%= f.text_area :body %>
    </div>
    <br>
    <br>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
