

<!-- Implements search feature using gem "Ransack" -->




  <!-- <!= Implements search feature using gem "Ransack" => -->
<div id = "preference" align='center'>

<div id="aligning">
  

<%= search_form_for @q, url: result_page_links_path, html: {method: :post, class: "search_form"} do |f| %>
  
  <br>
  <%= f.label :regionaladdress_cont, 'Region?' %>
  <%= f.autocomplete_field :regionaladdress_cont, autocomplete_link_regionaladdress_links_path, :size => 20, id: 'my_autocomplete_field' %>
<br>
  <%= f.label :averageprice_gteq, 'Price between' %>
  <%= f.text_field :averageprice_gteq %>
  <%= f.label :averageprice_lteq, 'and' %>
  <%= f.text_field :averageprice_lteq %>
<br>
  <br> 
  
  <%= f.submit 'Show Me Recomendations', class: 'search_submit' %>
  <button type="button" id = "advanced_search"><%= link_to 'Nah, Just get me simple search', result_page_links_path, {:style=>'color:black;', :class => "table_element"} %></button>

  
<% end %>
</div>
</div>
</div>






<script>
  $(document).ready(ready);
    $(document).on('page:load',ready);

    // table row to be clickable
    
    jQuery(function($) {
      $("tr[data-link]").click(function() {
        window.location = this.dataset.link
      });
    })
</script>
