<!-- <p id="notice"><%= notice %></p> -->

<div class="container" id="showmain">
  
  <div id="showinfo" class="col-xs-8">
    <h1><%= @link.name %></h1>
    <hr>
    <p><%= @link.streetaddress %>, <%= @link.regionaladdress %></p>
    <ul id="showul">
      <li><p>Built: <%= @link.built %></p></li>
      <li><p>Suites: <%= @link.suites %></p></li>
      <li><p>Floors: <%= @link.floors %></p></li>
    </ul>

    <table>
      <tr>
        <div id="suitestypes">
          <td><p>Suites Types:</p></td>
          <td>
            <ul>
              <% @link.bedroom.each do | room |%>
                <li>
                  <p><%= room %></p>
                </li>
              <%end%>
            </ul>
          </td>
        </div>
        <div id="amentypes">
          <td><p>Amenities:</p></td>
          <td>
            <ul>
              <% @link.amenities.each do | amen |%>
                <li>
                  <p><%= amen %></p>
                </li>
              <%end%>
            </ul>
          </td>
        </div>

      </tr>
    </table>
    <br><br><br>
    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Back', result_page_links_path %>
  </div>
  
  <div id="showmap" class="col-xs-4">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@link.latitude}%2C#{@link.longitude}" %>
  </div>

  
</div>
<div id="ratingres" class="container">

  <div class="readonly-star">
<!-- using the Ratyrate Helper in Views -->
    <div class="row">
      <div class="small-2 large-3 columns">
        
          <div class="col-xs-2">Cleanliness: <%= rating_for @link, "cleanliness", readOnly: true, disable_after_rate: true, imdb_avg: true %></div>
          <div class="col-xs-2">Noise Level: <%= rating_for @link, "noise_level", disable_after_rate: true, imdb_avg: true %></div>
          <div class="col-xs-2">Convenience: <%= rating_for @link, "convenience", disable_after_rate: true, imdb_avg: true %></div>
          
          <div class="btn-group" class="col-xs-4">
            <div id="likebutton" class="col-xs-3">
              <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up">
              Like
              </span>
              <% end %>
            </div>

            <div id="hatebutton" class="col-xs-3">
              <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-down">
              Dislike
              </span>
              <% end %>
            </div>

      
      
          </div>
        
      </div>
    </div>
<!-- end of ratyrate helper view -->
  </div>
  <div id="buttoncent">
    <%= button_to "Rate this apartment", new_link_comment_path(@link), :class => "button", :method => :get  %>
  </div>
</div>

<div id="commentsarea" class="container">
  <div>
  <h4>
    <%= @link.comments.count %> Comments
  </h4>
  <hr>
 
  <p><%= render :partial => @link.comments %></p>
 

  </div>
</div>



<script type="text/javascript">

ready = function(){

$(".readonly-star .star").each(function() {
$(this).raty('set', { readOnly: true });
});

};

$(document).ready(ready);
$(document).on('page:load',ready);
</script>
