<p id="notice"><%= notice %></p>
  
<h1 class="apt-name"><%= @link.name %></h1>

<div class="apt-placeholder">
  <div id="apt-factsheet">
    <%= button_to "Rate this condo", new_comment_path, :id=> "rate-button", :class => "button", :method => :get  %><br />

    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Back', links_path %>

    <div class="btn-group">
      <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote

      <% end %>
      <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down">
      Downvote

      <% end %>
    </div>

    <p class="apt-attr">
      <strong>Address:</strong>
      <%= @link.address %>
    </p>

    <p class="apt-attr">
      <strong>Availability:</strong>
      <%= @link.bedroom %>
    </p>

    <p class="apt-attr">
      <strong>Built:</strong>
      <%= @link.built %>
    </p>

    <p class="apt-attr">
      <strong>Floors:</strong>
      <%= @link.floors %>
    </p>

    <p class="apt-attr">
      <strong>Suites:</strong>
      <%= @link.suites %>
    </p>

    <p class="apt-attr">
      <strong>Features:</strong>
      <%= @link.amenities %>
    </p>
  </div>

  <!-- Google map -->
  <div id="apt-map">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@link.latitude}%2C#{@link.longitude}" %>
  </div>

  <div id="apt-comments">
    <h3 class="comments_title">
      <%= @link.comments.count %> Comments
    </h3>

    <div id="comments">
      <%= render :partial => @link.comments %>
    </div>
  </div>
</div>
